{% extends "base.html" %}

{% block title_head %}
Celulares
{% endblock title_head %}

{% block h1_header %}
Listado de Celulares
{% endblock h1_header %}

{% block main %}

<a href={% url "inicio:crear_celular" %}>Crear Celular</a>
<p>
    <form action={% url "inicio:listado_celulares" %}> 
        {{formulario}}
        <input type="submit" value="Buscar">
    
    </form>
</p>

{% if listado_celulares %}
<ul>
    {% for celular in listado_celulares %}
        <li>
            {{celular}} 
            | <a href="{% url "inicio:ver_celular" celular.id%}">Ver</a>
            | <a href="{% url "inicio:editar_celular" celular.id%}">Editar</a>
            | <a href="{% url "inicio:eliminar_celular" celular.id%}">Eliminar</a>

        </li>
    {% endfor %}
</ul>
{% else %}
<p>No se encuentran celulares</p>
{% endif %}

{% endblock main %}
