{% extends "base.html" %}

{% block title_head %}
Sobre Mi
{% endblock title_head %}

{% block h1_header %}Sobre Mi{% endblock h1_header %}

{% block main %}
<p>Mi nombre es Fabrizio Loroño y el trabajo en un comienzo iba de los celulares, q es una de las cosas que mas me gustaban en cuanto a la tecnología, además
    de mi gusto por las pcs, la música entre otras cosas. Agregue las motos, como primer idea que se me vino a la mente no por algo en especial.
    Me gusto mucho el trabajo y las posibilidades que ofrece trabajar con Django, gracias por enseñarnos cada uno de los temas</p>
{% endblock main %}